<div class = "text-center recipe-title"> <h1 class="display-4"> Edit this Recipe </h1> </div>

<%= render 'form' %>

<div class = "text-center form-cancel-custom"> <h4> |  <%= link_to "Cancel and return to recipes list", recipes_path %> | </h4> </div>