<div class = "text-center recipe-title"> <h1 class="display-4"> Name: <%= @recipe.name %> </h1> </div>


<div class = "container-fluid">
    <h4 class = "text-center"><strong> Description</strong></h4>
    <br>
    <div class = "text-center">
        <div class = "description-wrap"> <%= simple_format(@recipe.description) %> </div>
    </div>
</div>

<%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> | 
<%= link_to "Back to Recipe List", recipes_path %>