<div class = "text-center recipe-title font-italic"> <h1 class="display-2"> <%= t('users.index.title') %> </h1> </div>

<br> <br>

<div class = "container mx-auto text-center">
    <% @all_users.each do |user| %>
        <ul class = "list-unstyled">
            <h2> <li> <%= link_to user.username, user_path(user) %> </li> </h2>
            <h5> <li> Has: <%= pluralize(user.recipes.count, "recipe") %> </li> </h5>
            <% if logged_in? and current_user.admin? %>
                <li> <%= link_to t('delete_recipe_button'), user_path(user), method: :delete, data: {confirm: t('delete_user_text')}, class: "btn btn-danger btn-md" %> </li>
            <% end %>
            <br> <br>
        </ul>
    <% end %>
</div>