<div class="container-fluid text-center">
    <h1 class="display-3"> Listing all Users </h1>
</div>

<br> <br>

<div class = "container mx-auto text-center">
<% @all_users.each do |user| %>
        <ul class = "list-unstyled">
            <%= link_to gravatar_for(user), user_path(user) %>
            <br>
            <h3> <li> <%= link_to user.username, user_path(user) %> </li> </h3>
            <h4> <li><small><%= pluralize(user.recipes.count, "recipe") if user.recipes %></small></li> </h4>
            <br> <br>
        </ul>
    <% end %>
</div>