<div class="container-fluid text-center"> <h1 class="display-2"> <%= t('welcome.about.title') %> </h1> </div>
<br> <br> <br>
<div class="container-fluid text-center">
    <h3 class="font-italic word-wrap">
        <%= t('welcome.about.info_text') %> <br> <br>
        <%= t('welcome.about.instructions_text') %> <br> <br>
        <%= t('welcome.about.closing_text') %> 
    </h3>
    <div class = "welcome-page-image">
        <body>
            <img src="https://assets.bonappetit.com/photos/57d317f8cba257a52320dac2/master/w_1200,c_limit/gjusta-main.jpg">
        </body>
    </div>
</div>