<div class="container-fluid text-center">
    <h1 class="display-3"> About RecipeList.com </h1>
    <h1><span class="badge badge-warning">RecipeList.com</span></h1>
    <%= link_to 'Home Page', root_path %>
</div>