/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.all-page-color {
    background-color: floralwhite;
}

.jumbotron {
    background-color: floralwhite;
    background-size: cover;
    height: 400px;
    color: black;
}

#navbar_logo {
    font-style: italic;
    font-size: 35px;
    font-weight: 550;
    letter-spacing: -1px;
}

#navbar_logo:hover {
   color: #d12e3e;
   text-decoration: none;
}


.nav-custom-link {
   padding-left: 10px;
   color: #5671f7;
   font-size: 20px;
   letter-spacing: -1px;
   text-decoration: none;
}

.nav-custom-link:hover {
   color: #7a90ff;
   text-decoration: none;
}

.footer-custom {
   background: #FFA67A;
}

.footer-copy-custom {
    padding-left: 7px;
    color: black;
    font-style: italic;
    font-size: 19px;
}

.form-cancel-custom {
    padding-top: 200px;
    font-style: italic;
}


.recipe-title{
    padding-top: 15px;
    padding-bottom: 15px;
}

.description-wrap {
    border-top: 1.5px solid #ffcc66;
    padding-top: 15px;
    word-wrap: break-word;
    border-bottom: 1.5px solid #ffcc66;
}

.recipes-list {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 100px; 
}
.recipe-list-title {
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.recipe-list-body {
    border-top: 1.5px solid #ffcc66;
    border-bottom: 1.5px solid #ffcc66;
    padding-top: 20px;
    padding-bottom: 15px;
}

.recipe-list-meta {
    border-top: 1.5px solid #ffcc66;
    padding-top: 10px;
    margin-top: 15px;
}

.recipe-list-actions {
    padding-top: 20px;
}

.main-page-image {
    padding-top: 50px;
    padding-bottom: 50px;
}

.error-padding-custom {
    padding-top: 20px;
    padding-bottom: 20px;
}