<div class = "text-center recipe-title font-italic"> <h1 class="display-3"> Listing all Categories </h1> </div>

<br> <br>

<div class = "container mx-auto text-center">
    <% @all_categories .each do |category| %>
        <ul class = "list-unstyled">
            <h2> <li> <%= link_to category.name, category_path(category) %> </li> </h2>
            <h5> <li> Has: <%= pluralize(category.recipes.count, "recipe") %> </li> </h5>
            <% if logged_in? and current_user.admin? %>
                <li> <%= link_to "Edit this category", edit_category_path(category), class: "btn btn-primary btn-md" %> </li>
                <br>
                <li> <%= link_to "Delete this category", category_path(category), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-md" %> </li>
            <% end %>
            <br>
        </ul>
    <% end %>
</div>