<div class = "container-fluid">
    <footer class = "navbar fixed-bottom footer-custom">
        <small> Copyright &copy RecipeList by vm00308@surrey.ac.uk </small>
        <nav>
            <ul class="list-inline-mb-0">
                <li class="list-inline-item"> <%= link_to "About", about_path %> </li>
                <li class="list-inline-item"> <%= link_to "Contact Us", '#' %> </li>
            </ul>
        </nav>
    </footer>
</div>