<div class = "container-fluid">
    <footer class = "navbar fixed-bottom footer-custom">
        <small class = "footer-copy-custom"> Copyright &copy RecipeList by vm00308@surrey.ac.uk </small>
        <nav>
            <ul class="list-inline">
                <li class="list-inline-item nav-item"> <%= link_to "About", about_path, class: "nav-custom-link" %> </li>
                <li class=" list-inline-item nav-item pl-3"> <%= link_to "Contact Us", '#', class: "nav-custom-link" %> </li>
            </ul>
        </nav>
    </footer>
</div>