<div class = "container-fluid">
    <footer class = "navbar fixed-bottom footer-custom">
        <small class = "footer-copy-custom"> Copyright &copy RecipeList by vm00308@surrey.ac.uk </small>
        <nav>
            <ul class="list-inline">
                <% if logged_in? && current_user.admin? %>
                    <li class="list-inline-item nav-item">Logged in as <strong> Admin </strong> </li>
                <% end %>
                <li class="list-inline-item nav-item pl-5"> <%= link_to t('footer.about'), about_path, class: "nav-custom-link" %> </li>
                <li class=" list-inline-item nav-item pl-3"> <%= link_to t('footer.contact'), contact_path, class: "nav-custom-link" %> </li>
            </ul>
        </nav>
    </footer>
</div>